@import "tailwindcss";

@theme {
  --color-brand-50: #eff6ff;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-900: #1e3a8a;

  --color-risk-low: #22c55e;
  --color-risk-medium: #f59e0b;
  --color-risk-high: #f97316;
  --color-risk-critical: #ef4444;
}
